.particles {
  position: relative;
  margin-top: 176px !important;
  z-index: -1;
}

#tsparticles {
  margin-top: 176px !important;
}

#home {
  position: relative;

  video {
    filter: brightness(50%);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2 !important;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .buttons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;

    a {
      display: block;
    }

    .homeBtn {
      margin-bottom: 1rem;
      width: 220px !important;
    }
  }
}