@import './colors.scss';


.orange {
  color: $orange !important;
}

.blue {
  color: $azul !important;
}

.wrongSelection {
  color: red !important
}

//Header
.header {

  .button {
    text-transform: capitalize;
    font-size: 1rem;
    color: $white;
  }
}


// DASHBOARD PAGE

.heading {
  border-radius: 1rem;
  padding: 2rem;
  background-color: $secondary;
}


// LOGIN PAGE styles
.login {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 2rem 1rem;

  background-image: url('/obj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);


  h1,
  .subheading {
    color: $white;
  }

  .MuiFormControl-root {
    display: block !important;
    margin: 2rem 0;
    background-color: $black;
  }

  button {
    color: $white;
    margin-bottom: 2rem !important;
  }

  .registerBtn {
    text-align: left !important;
    color: $white;
  }
}

#mainTable {
  background-color: $secondary;
  border-radius: 1rem;
}



#picksModal,
#rulesModal {

  .MuiBox-root {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
  }

  .select {
    margin: .5rem 0;
  }
}